{% extends "base.html" %}
{% block content %}
    <table class="main" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-wrap aligncenter">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-block">
                            <h1>{{ invoice.total|money }} Paid</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <h2>Thanks for using Lime.</h2>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <table class="invoice">
                                <tr>
                                    <td>{{ to }}<br>
                                    {{ invoice.period_end|date }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="invoice-items" cellpadding="0" cellspacing="0">
                                            {% for i in invoice.lines.data %}
                                            <tr>
                                              {% if i.type == 'subscription' %}
                                                <td>{{ i.plan.name }}</td>
                                              {% else %}
                                                <td>{{ i.description }}</td>
                                              {% endif %}
                                                <td class="alignright">{{ i.amount|money }}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr class="total">
                                                <td class="alignright" width="80%">Total</td>
                                                <td class="alignright">{{ invoice.total|money }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <a href="{{ link }}">View in browser</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            Wiota Co. 4018 Fairmount Ave, Philadelphia, PA 19104
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
    <table width="100%">
        <tr>
            <td class="aligncenter content-block">Questions? <a href="mailto:rh@wiota.co,di@wiota.co">Email us</a>.</td>
        </tr>
    </table>
{% endblock %}
